<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
         {{>header}}
         <img src="/img/jet.png">
        <p>{{aboutText}}</p>
         {{>footer}}
    </body>
</html>