<header>
    <h1>
    {{title}}
    </h1>
    <div>
        <a href="./runListModels">models</a>
        <a href="./requests">Requests</a>
        <a href="./runListExperiments">Experiments</a>
        <a href="./addexp">add experiment</a>
        <a href="./runShowStats">simulation status</a>
        <a href="./help">help</a>
        <a href="./about">about</a>
    </div>
</header>